* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(0, 19, 55);
}

.App {
  font-family: Lato, sans-serif;
}

.react-logo-contenedor {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.react-logo {
  width: 100%;
}